
.content-table {
    border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
}

.content-table thead tr {
    color: var(--text-color);
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddd;
    color: var(--text-color)
}

.content-table tbody tr:nth-of-type(even) {
    background: var(--background-light);
    color: var(--text-color)
}

.content-table .table-options {
    display: flex;
}