.icon-user
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
    
}

.center
{
    display: flex;

    align-items: center;
    padding: 12px;
}

