:root {
    /* === NEUTROS === */
    --white: #ffffff;
    --black: #000000;
    --gray-light: #f5f5f5;
    --gray: #cccccc;
    --gray-dark: #444444;
  
    /* === PRIMARIO === */
    --primary: #0071ff;

    --primary-light: #a7f0ff;

    --primary-dark: #002244;
    --primary-dark-hover: #0056b3;
  
    /* === FEEDBACK === */
    --success: #16a34a;
    --success-light: #a9e5c1;
  
    --danger: #ef4444;
    --danger-light: #fee2e2;
  
    --alert: #facc15;
    --alert-light: #fff1d4;
  
    --info: #0ea6e9;
    --info-light: #8fc3f5;
  
    /* === TEXTOS === */
    --text-primary: var(--primary-dark);
    --text-light: #666666;
    --text-inverse: var(--white);
  
    /* === BACKGROUNDS === */
    --background: #f0f0f0;
    --content-bg: white;
  
    /* === SOMBRAS Y BORDES === */
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --radius-element: 0;
    --radius-content: 0;
  }
  
  /* === TEMA OSCURO === */
  [data-theme="dark"] {
    --background: #0d1b2a;
    --content-bg: #1b2b3a;
    --white: #ffffff;

    --text-primary: #ffffff;
  }
  